body {
  background-color: #FFF;
  font-family: 'Hoefler Text';
}

#main-content {
  margin: 4vw;
  text-align: center;
}

#main-text {
  margin-left: 7vw;
  margin-right: 7vw;
}

#input, #button {
  
}

#random {
  margin-bottom: 5vh;
}

#results {
  text-align: left;
}





